<h1 class="text-center my-4">MY <span class="text-primary">BLOG</span></h1>


<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
          </div>
          <% if post.image? %>
            <%= image_tag post.image.url, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Publicado às <%= post.created_at.strftime("%H:%M") %></h6>
            <p class="card-text"><%= truncate(post.body, length: 100) %></p>
            <%= link_to 'Ver Comentários', post, class: 'btn btn-primary mt-3 d-block' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
