<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3pV0n4W3eKj2SAG29LPbBE6UbQXVDJS5p4laSSRxZI6n1tCh1bAqeIhsKo" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div> 
      <% if user_signed_in? %>
        <%= link_to 'New post', new_post_path %>
        <%= link_to 'Profile', edit_user_registration_path %>
        <%= button_to 'Logout', destroy_user_session_path, method: :get %>
      <% else %>
        <% end %>
    </div>

    <%= yield %>
  </body>
</html>
